<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sergio Andrés Monsalve Castañeda</title>
</head>

<body>

    <h1>    Sergio Andrés Monsalve Castañeda </h1>


        <!-- <img class="fit-picture" src="assets/img/sam.jpg" alt="" height="100px"><br> -->
        <img class="fit-picture" src="https://www.gravatar.com/avatar/a4dde956c600bca7f418785d488b9d89.jpg" alt="" height="100px"><br>
        
        <a href="mailto:smonsalve@gmail.com">Escribeme!</a> <br>

        smonsalve@gmail.com <br>
        smonsal3@eafit.edu.co <br>
        
    
    <h2> Personal Information  </h2>
    <h4>Date of Birth:</h4> June 10th 1986.
    <h4>Place of Birth:</h4> Medellín, Colombia.


    <h3>Education</h3>
    
        <ul>
            <li>  
                December 2022 <u>Candidate</u> <br>
                <b> Master of Science in Engineering </b><br>
                <i> EAFIT University</i>, Medellín, Colombia <br>
                GPA – 4.49/5.0
            </li>
            <br>
            <li>  
                December 2013 <br>
                <b>Computer Science</b> <br>
                EAFIT University, Medellín, Colombia <br>
                GPA – 3.94/5.0.
            </li>
            <br>
            <li>  
                December 2003 <br>
                High-school, Colegio La Salle de Envigado <br>
                Envigado, Colombia.
            </li>
            
        </ul>
    <h1>About me</h1>

        <ul>
            <li> https://www.linkedin.com/in/samonsalvec/  </li>
            <li> https://github.com/smonsalve </li>
        </ul>

    <h2>Profile</h2>

    I am a systems engineer with hunger for knowledge and avid to learn new technologies, tools, programming languages and frameworks to create solutions for everyday problems.<br>
    I enjoy working in multidisciplinary teams and face challenges that allow the growth of the team itself, as well as the improvement of the developed products or services.

    <h1>Experience</h1>
        <ul>
            
            <li> 
                2021–2022 <br>
                Founder and CITO, humanld.io, Medellín, Colombia. <br>
                ML, AI, Data Analytics, Data Visualization, and Data Driven Client Segmentation and general Marketing Strategies Development. <br>
                <b>Detailed achievements:</b> <br>
                Sistecredito Dashboards for Clients and Customers <br>
                Sura/Comfama atention optimization for High Risk Cardio Vascular patients <br>
            </li>
            <br>

            <li> 
                2020–Present <br>
                CITO Inmotion Group, Medellín, Colombia. <br>
                Developers Team Management, Leading and structuring projects, Software Development, Data Analytics, Data Viz. <br>
                <b>Detailed achievements:</b> <br>
                Corporate sustainable mobility dashboard and tools. <br>
                Hex Mobility payment integration. <br>
            </li>
            <br>

            <li> 
                2017–2020  <br>
                Data Analyst <br>
                Leonisa, Medellín, Colombia. <br>
                Data Analytics, Data Visualization, and Data Driven Client Segmentation and general Marketing Strategies Development. <br>
                <b>Detailed achievements:</b> <br>
                Architectural Development of the Leonisa loyalty program. <br>
                Leader of the Tableau Analytics Group. <br>
            
            </li>
            <br>

            <li> 
                2018–Present 
                Teacher
                Continuing education center
                EAFIT University, Medellín, Colombia.
                Python Programming
            </li>
            <br>

            <li> 
                2016–2018 Adjunct Teacher, EAFIT University, Medellín, Colombia.
            Computer programming for engineering.
            </li>
            <br>

            <li> 
                2014–2019 Outdoor training Instructor, DEPP (Professional Trainee Department)
                EAFIT University, Medellín, Colombia.
                Experiential education program.
            </li>
            <br>

            <li> 
                2016–2017 Freelance Developer, Inmotion Group, Medellín, Colombia.
                Platform development for an automatic electrical bicycle lending system.
            </li>
            <br>

            <li> 
                2014–2017 Developer and Researcher, EAFIT University, Medellín, Colombia.
                Developer and researcher at the Applied Mathematics department for the prevention and
                prediction of dengue disease project.
            </li>
            <br>

            <li> 
                2013–2014 Consultant at Center for the Innovation, Consulting and Entrepreneurship, EA-
                FIT University, Medellín, Colombia.
                Software Architectural development for an intelligent portal at Medellín Digital.
            </li>
            <br>

            <li> 
                2012 Ruby on Rails Developer, Odesk Freelancer , Medellín, Colombia.
                Tailored developments for different clients.
            </li>
            <br>
            
            <li> 
                2011 Partial Time Developer, Mercadeo Virtual S.A, Medellín, Colombia.
                Developing of a System for administration of student’s laboratory equipment.
            </li>
        </ul>
        
   <h1>Achievements</h1>

        <ul>
            <li> 2013 Full scholarship for the Master of Science in Engineering Degree, based on the thesis Graph Analysis with Parallel Boost Graph Library at Apolo (High Performance Computing facility) for the undergraduate program in Systems Engineering. EAFIT University 2013.</li>
            <li> 2013 SURF: Summer Undergraduate Research Fellowship. Purdue University West Lafayette, Indiana, USA. Research on Nano Mechanics simulations group.</li>
            <li> 2012 President of the Students Organization. EAFIT University.</li>
            <li> 2011–2012 Student Representative Directive Council. EAFIT University.</li>
            <li> 2010–2011 VP for Social and Integral Formation at the Students Organization. EAFIT University.</li>
        </ul>
    <h1>Computer skills</h1>

        <ul>
            <li> I have developed Web and stand alone applications in Python and Ruby.</li>
            <li> I have done web development with teams using Ruby on Rails and Flask, Django with basic JavaScript, HTML, and CSS.</li>
            <li> I have made web deployment on Linux Web servers as Amazon, Google Cloud, Heroku, Digital Ocean, and others.</li>
            <li> I have used Embedded Systems as Arduino and Raspberry Pi IoT solutions.</li>
            <li> I have used Python, Plotly and Dash for Data Analytics, Data Visualization and Data Exploration and solutions. </li>
            <li> I have used Tableau for Data Analytics as Data Visualization and Data Exploration tool </li>
        </ul>


    
    <h1>Extracurricular Activities</h1>

        <ul>
            <li> 2011-2015 Leader and director of the Embedded Systems Research and Study Group SISE</li>
            <li> 2007-2012 Programming Group founder, EAFIT University.</li>
            <li> 2005-2012 Director for different academic, cultural, recreational and social activities at the Students Organization at EAFIT University such as the photography contest at DIAS EAFIT</li>
            <li> 2009, the National Student Congress of Systems Engineering, CNEIS 2007, and others.</li>
            <li> 2004-2012 Associate at the System Engineering improvement Group (GEMIS-OE).</li>
        </ul>

    <h1>Languages</h1>

        <b>Spanish</b>  Native <br>    
        <b>English</b> Professional Proficiency  TOEIC 940/990 <br>
        <b>Protuguese</b> Begginer

    <h1>Interests</h1>
    
        <ul>
            <li>MTB</li>
            <li>Cooking</li>
            <li>Hiking</li>
            <li>Reading</li>
            <li>Paragliding</li>
            <li>Gardening</li>
        </ul>
    
    <h1>Refernces</h1> 

        <h2>Daniel Mesa</h2> 
        <b>CEO in Human Living Data</b> <br>
        <a href="mailto:daniel@humanld.io">correo</a> <br>
        (+57) 312 2570815

        <hr>

        <h2>Esteban Restrepo</h2>
        <b>Data Analytics Director at Leonisa Group</b><br>
        <a href="mailto:estebanrestrepo86@gmail.com">correo</a><br>
        (+57) 310 841 60 12.

        <hr>

        <h2>Juan Guillermo Lalinde Pulido</h2>
        <b>Ph.D., Associate Professor at EAFIT University</b><br>
        <a href="mailto:jlalinde@eafit.edu.co">correo</a>    <br>
        (+57) 311 349 81 74.
    

</body>
</html>